@import "./variables";
@import "./components";
@import "./typography";

#app {
  height: 100%;
  min-height: 1200px;
  width: 100vw;
  padding-top: 2rem;
  display: flex;
  background-image: url("./assets/backtround-big.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  flex-direction: column;
  // background: rgba(218, 214, 214, 0.84) ;
  #nav {
    margin-left: 4rem;
    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: rgb(134, 129, 62);
      margin-right: 0.5rem;
      &.router-link-exact-active {
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
#home {
  height: 100vh;
  display: flex;
  align-items: center;

  .count {
    padding-left: 15rem;
    justify-self: flex-start;

    .welcome {
      font-size: 1.7rem;
      font: bold;
      text-align: start;
      color: red;
    }
  }
}
#all-stars {
  width: 100%;
  height: 100vh;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    .logo {
      height: 100px;
    }
    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-input {
        margin-top: 2rem;
        width: 60%;
        height: 2rem;
        padding: 1px;
        font-size: 1.9rem;
        border-width: 2px;
        border-color: #06a4c0;
        background-color: #ffffff;
        color: #000000;
        border-style: solid;
        border-radius: 2px;
        box-shadow: -1px -3px 10px rgba(6, 164, 192, 0.34);
        text-shadow: 0px 0px 5px rgba(6, 179, 209, 0.75);
      }
      .btn-search {
        width: 40px;
        height: 37px;
        border: 1px solid #000000;
        background: #06a4c0;
        border: #06a4c0 2px solid;
        text-align: center;

        cursor: pointer;
      }
      .search-input:focus {
        outline: none;
      }
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
  .browse {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .arrow-left,
    .arrow-right {
      cursor: pointer;
    }
  }
}
#star-info {
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
  .name {
    padding: 4rem;
  }
  .personal-info {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .trait {
      text-align: center;
      width: 300px;
      border: #ffffff 1px solid;
      background-color: rgba(95, 94, 94, 0.84);
      border-radius: 2rem;
      padding: 1rem;
      .space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
      }
    }
    .personal-movies {
      width: 350px;
      height: auto;
      padding: 1rem;
      cursor: pointer;
      border: #ffffff 1px solid;
      border-radius: 2rem;
      background-color: rgba(95, 94, 94, 0.84);
      .click {
      }
    }
  }
}
#star-searched {
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
  .name {
    padding: 4rem;
  }
  .personal-info {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .trait {
      width: 300px;
      background-color: rgba(95, 94, 94, 0.84);
      border-radius: 2rem;
      padding: 1rem;
      .space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
      }
    }
    .personal-movies {
      background-color: rgba(95, 94, 94, 0.84);
    }
  }
}

@media only screen and (max-width: 1000px) {
  #all-stars {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
   #app{
      min-height: 1400px;
  }
}
@media only screen and (max-width: 750px) {
   #app{
      min-height: 1700px;
  }
  #all-stars {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #star-info{
    .personal-info{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .trait{
        margin-bottom: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  #all-stars {
    .gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  #app{
      min-height: 2800px;
  }
  
}
