@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  font-family: "Open Sans", " sans-serif";
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  color: rgb(252, 244, 0);
  padding: 0%;
  font-size: 3.5rem;
  text-transform: capitalize;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--main-text-color);
  font-weight: bold;
  color: #ffffff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(11, 11, 184);
text-shadow: -1px -4px 6px rgba(0,42,164,0.6);
}

h4 {
  margin: 0;
  padding: 0;
  color: var(--third-text-color);
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  color: #a40606;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;

}
span{
  font-size: 2rem;
  color: rgb(253, 253, 114);
}


input {
  width: 90%;
  height: 62px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
}



